In [1]:
# Check for null values in the numerical columns.

In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('learningSet.csv')

In [3]:
categorical = data.select_dtypes(object)
numerical = data.select_dtypes(np.number)

In [4]:
numerical.isna().sum()

ODATEDW         0
TCODE           0
DOB             0
AGE         23665
NUMCHLD     83026
            ...
TARGET_B        0
TARGET_D        0
HPHONE_D        0
RFA_2F          0
CLUSTER2      132
Length: 407, dtype: int64

In [5]:
# Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.

In [6]:
data["GEOCODE2"].value_counts()

A    34484
B    28505
D    16580
C    15524
       187
Name: GEOCODE2, dtype: int64

In [7]:
data['GEOCODE2'].unique()

array(['C', 'A', 'D', 'B', ' ', nan], dtype=object)

In [8]:
data['GEOCODE2'].isna().sum()

132

In [9]:
for col in data.columns:
    if 'GEOCODE2' in col:
        data[col] = data[col].fillna("other")

In [10]:
data["WEALTH1"].value_counts()

9.0    7585
8.0    6793
7.0    6198
6.0    5825
5.0    5280
4.0    4810
3.0    4237
2.0    4085
1.0    3454
0.0    2413
Name: WEALTH1, dtype: int64

In [11]:
data['WEALTH1'].isna().sum()

44732

In [12]:
data['WEALTH1'].unique()

array([nan,  9.,  1.,  4.,  2.,  6.,  0.,  5.,  8.,  3.,  7.])

In [13]:
data.dropna(subset=["WEALTH1"], inplace=True)

In [14]:
data["ADI"].value_counts()

13.0     3345
51.0     2628
65.0     1910
57.0     1537
197.0    1284
         ...
601.0       1
139.0       1
145.0       1
161.0       1
140.0       1
Name: ADI, Length: 200, dtype: int64

In [16]:
ADI_count = data["ADI"].value_counts()
ADI_count = ADI_count[ADI_count > 500]

In [17]:
ADI_count

13.0     3345
51.0     2628
65.0     1910
57.0     1537
197.0    1284
105.0    1281
109.0    1160
107.0    1094
131.0    1067
201.0    1030
75.0     1011
329.0     996
127.0     964
241.0     894
67.0      859
275.0     802
233.0     794
83.0      743
15.0      736
111.0     711
351.0     671
157.0     615
129.0     614
279.0     598
59.0      582
213.0     519
Name: ADI, dtype: int64

In [18]:
data['ADI'].isna().sum()

32

In [19]:
data.dropna(subset=["ADI"], inplace=True)

In [20]:
data["DMA"].value_counts()

803.0    3345
602.0    2630
807.0    1910
505.0    1538
524.0    1285
         ...
584.0       1
598.0       1
538.0       1
502.0       1
552.0       1
Name: DMA, Length: 201, dtype: int64

In [21]:
data['DMA'].isna().sum()

0

In [22]:
data["MSA"].value_counts()

0.0       9734
1600.0    2307
4480.0    2185
2160.0    1381
520.0     1108
          ...
1480.0       1
1320.0       1
2281.0       1
1303.0       1
7610.0       1
Name: MSA, Length: 287, dtype: int64

In [23]:
data['MSA'].isna().sum()

0

In [24]:
MSA_count = data["ADI"].value_counts()
MSA_counts = MSA_count[MSA_count > 50]

In [25]:
MSA_counts

13.0     3345
51.0     2628
65.0     1910
57.0     1537
197.0    1284
         ...
467.0      59
415.0      55
251.0      54
39.0       54
621.0      52
Name: ADI, Length: 139, dtype: int64

In [26]:
filtered_data = data[data["ADI"].isin(MSA_counts.index)]